{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="header col-9 mx-auto">
        <h1 class="text-center mt-5">Récapitulatif commande</h1>
    </div>
    <section class="cart container mt-5">
        {{ form_start(form) }}
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th class="">Plat</th>
                <th class="">Prix</th>
                <th class="text-right pr-5">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {{ form_errors(form) }}
            {% for orderDetail in form.orderDetails %}
                <tr>
                    <td>{{ orderDetail.vars.data.food.name }}</td>
                    <td>{{ orderDetail.vars.data.food.price }} €</td>
                    <td class="quantity-input">{{ form_widget(orderDetail) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex flex-column justify-content-end mt-4 mb-5">
            <p class="mr-4 text-right">Montant total</p>
            <h2 class="mr-4 text-right">{{ order.totalPrice }} €</h2>
        </div>
        <div class="container row justify-content-start">
            <span class="mr-5">{{ form_widget(form.customer) }}</span>
            {{
            form_widget(
                form.retrieval_datetime.date.year,
                {
                    'attr': { 'style': 'display:none' }
                }
            )
            }}
            <span class="ml-5 align-self-center">{{ form_widget(form.retrieval_datetime.date.day) }}</span>
            <span class="ml-5 align-self-center">{{ form_widget(form.retrieval_datetime.date.month) }}</span>
            <span class="ml-5 align-self-center">{{ form_widget(form.retrieval_datetime.time.hour) }}</span>
            <span class="ml-2 align-self-center">{{ form_widget(form.retrieval_datetime.time.minute) }}</span>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}